.section-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #f8f8f8;
  text-align: center;
  padding: 20px;
}

.introParagraph {
  margin-bottom: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

.page-section {
  min-height: 100vh;
  padding: 2rem 0;
}

.custom-border {
  border-top: 15px solid black; /* Ajoutez une bordure supérieure de couleur noire */
  padding-top: 2rem; /* Ajoutez un espace au-dessus du contenu pour séparer la bordure */
}
.component-title {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #0a0909;
  color: #333;
}

/* Styles for the arrow */
.component-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 40px;
  border-style: solid;
  border-color: transparent transparent #f8f8f8 transparent;
}

/* Adjustments for the arrow position */
.component-title::after {
  margin-left: -10px;
  margin-bottom: -1px;
}



.section-with-border {
  position: relative;
  padding: 20px;
  border-width: 8px;
  border-style: solid;
  border-radius: 0px;
  background: linear-gradient(to right, #8f8e8e, #fcb4b4); /* Remplacez les couleurs par celles de votre choix */
}

.section-with-border::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(to right, #161616, #1b0bc4); /* Remplacez les couleurs par celles de votre choix */
}
.roadmap-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #8f8e8e; /* Ajouter un fond noir */
}