.section-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #f8f8f8;
  text-align: center;
  padding: 20px;
}

.introParagraph {
  margin-bottom: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

.page-section {
  min-height: 100vh;
  padding: 2rem 0;
}

.custom-border {
  border-top: 1px solid black; /* Ajoutez une bordure supérieure de couleur noire */
  padding-top: 2rem; /* Ajoutez un espace au-dessus du contenu pour séparer la bordure */
}
