.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex-grow: 1;
}
.App {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 80px; /* Réserve de l'espace pour le footer */
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #f8f8f8;
  text-align: center;
  padding: 20px;
}
.App {
  min-height: 100vh;
  position: relative;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.content-wrap {
  padding-top: 80px; /* Réserve de l'espace pour le header */
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #f8f8f8;
  text-align: center;
  padding: 20px;
}
.App {
  min-height: 100vh;
  position: relative;
}

.header-wrap {
  position: sticky;
  top: 0;
  z-index: 100;
}

.content-wrap {
  padding-top: 80px; /* Réserve de l'espace pour le header */
}
.section-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}
.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #f8f8f8;
  text-align: center;
  padding: 20px;
}
.introParagraph {
  margin-bottom: 2rem;
  text-align: justify;
  text-justify: inter-word;
}
.page-section {
  min-height: 100vh;
  padding: 2rem 0;
}
.custom-border {
  border: 45px solid #2e2e2e; /* Changez l'épaisseur et la couleur de la bordure */
  border-radius: 1rem; /* Ajoutez des coins arrondis */
  padding: 1 rem; /* Ajoutez un peu d'espace entre le contenu et la bordure */
}